/* General Styles */
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #1e2a3a, #14191f);
  color: #ffffff;
}


.game-header {
  display: none;
}


/* Scorecard Styling */
.scorecard {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  background: #2c3338;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.score-item {
  text-align: center;
  padding: 10px;
}

.label {
  font-size: 1.2rem;
  color: #ff416c;
}

.score-value {
  font-size: 2rem;
  font-weight: bold;
  color: #e8f0f2;
}

/* Image Styles */
img {
  position: absolute;
  top: 20px;
  right: 15vw;
  height: 25%;
  width: 20%;
  z-index: 2;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}

/* Control Panel */
.control-panel {
  position: absolute;
  left: 10px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: #ffcc00;
}

/* Video */
video {
  display: none;
}

/* Canvas Ball */
canvas-ball {
  z-index: 2;
}

/* Canvas Styles */
canvas {
  z-index: -1;
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Canvas & H1 Positioning */
canvas,
h1 {
  position: absolute;
  top: 46%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Animated Loading Text */
h1::before {
  content: var(--text-content);
  animation: text-animate 1s linear infinite;
  color: #00ff99;
  text-shadow: 0px 4px 8px rgba(0, 255, 153, 0.6);
}

/* Typography Styles for p1, p2, p3 */
p1 {
  font-size: 49px;
  color: #ffcc00;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(255, 204, 0, 0.5);
}

p2 {
  font-size: 19px;
  color: #00ffff;
  font-weight: normal;
  text-shadow: 0px 3px 6px rgba(0, 255, 255, 0.5);
}

p3 {
  font-size: 29px;
  color: #ff4b4b;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(255, 75, 75, 0.5);
}

/* Keyframes for Loading Animation */
@keyframes text-animate {
  0% {
    --text-content: "Loading.";
  }
  33% {
    --text-content: "Loading..";
  }
  66% {
    --text-content: "Loading...";
  }
  100% {
    --text-content: "Loading";
  }
}
